body {
  display: flex;
  flex-wrap: wrap;
  height: 0%;
  background-color: #FBF8E1;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.description{
  margin-top: 10px;
}

h1 {
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 70px;
  text-align-last: center;
}
.page_name{
  margin-top: 85px;
}
.page_name{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.logo {
  width:150px;
  height: 150px;
  padding: 0px;
}

.intro{
  text-align: center;
  font-family:'Baloo Chettan 2', cursive;
  font-size: 30px;
}
.collage{
  display: flex;
  justify-content: center;
  
}
.welcome{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  height: auto;
  width: 100%;
  justify-items: center;
}
.info{
  font-family:'Baloo Chettan 2', cursive;
  font-size:20px;
  text-align: justify;
  padding-left: 10px;
}
.nav_main {
  width: 100%;
  max-width: 850 px;
  margin: 10px;
}

.nav_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  background-image: url(images/HEADER.webp);
  color: #dbd3d3;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
}

.nav_header a {
  color: #030303;
  text-decoration: none;
  font-style: unset;
  padding: 2rem 0;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.navigation ul li a:hover {
  background-color: #f2f3f2ce;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/*.contenido {
  min-height: calc(100vh -58px - 51px);
}*/

.allCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.collection {
  width: 300px;
  height: 500px;
  padding: 30px;
  margin: 20px;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
  background-image: url(images/fondoCard.png);
  background-size: 100% 100% ;
  border: 10px solid rgba(255, 255, 255, 0.89);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -3;

}

img {
  width: 140px;
  height: 140px;
  padding: 0px 40px 10px;

}
.name_athlet{
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  font-stretch: semi-expanded;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.team_athlet{
  font-family:'Pathway Gothic One', sans-serif;
  font-size: 20px;
  border:rgb(12, 12, 12);
  float:right;
  margin: 8px;
}
.medall{
  font-family:'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin: 8px;
  font-weight:lighter;
  padding-bottom: 8px;
}


/*footer {
  align-self: flex-end;
  background: linear-gradient(
    180deg,
    #39b5af 0%,
    #50bb98 13.02%,
    #b4d236 68.23%,
    #f2cd1a 100%
  );
  left: 0;
  bottom: 0;
  width: 100%;
  height: 51px;
  padding-top: 0px;
  margin: 0 auto;
}
*/
