.scrollup.left {
    left:-50px;
}	

.scrollup {
position: fixed;
bottom: 20px;
width: 50px;
height: 50px;
z-index: 99;
background: #EC6F38;
/* background: rgba(248,208,101,0.7); */
border-radius: 50%;
text-align: center;
cursor: pointer;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; /*esto permite la adaptacion a pantalla*/
}
.scrollup:hover{
background: #606070;
}
.contenedorPokemon {
    position: relative;
    padding: 30px;
    margin-bottom: 60px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contenedorPokemon .icon {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    display: table;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
}
.contenedorPokemon .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    font-size: 60px;
    line-height: 40px;
    color: #31486f;
}
.contenedorPokemon h3 {
font-weight: 400;
}
.contenedorPokemon h3 a {
    color: #31486f;
}
.add_botom{
    font-size: 35px;
    background:none;
    border: none;
    color: #28B9B5;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    
    
}
p{
    text-justify: auto;
}