body {
 background: -webkit-linear-gradient(top,#05001d, #0e043d, #3c0d63, #651a7c) ;
 background-attachment: fixed;
}

.header {
  display: flex;
}


#logo {
  align-self: center;
  width: 230px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.menu {
  gap: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #FFFF;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 30px;
}

.menu select, #search1 {
  
  height: auto;
  width: 20%;
  margin: 1rem;
  align-content: center;
  /* background-color: ; */
  border-radius: 7px;
}


#root {
  display: grid;
  max-width: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  line-height: 1.3;
  padding: 15px;
  margin: 5rem;
}


.card{
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1rem);
  background-color:rgba(255, 255, 255, 0.06); 
  border-radius: 15px;
  box-sizing:border-box; 
  margin: auto;
  overflow: hidden;
  transition: all .5s ease-in-out;
  align-items: initial;
}

.card:hover {
  border: 1px solid #FFFF;
  border-radius: 15px;;
  transition: all .5s ease-in-out;
  opacity: 1;
  z-index: 5;
}

.card:hover #imgn img{
  transform: scale(1.1);

}

#imgn {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  margin-top: 0rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#card_content {
  position: relative;
  backdrop-filter: blur(.5rem);
  padding: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#card_content > dt {
  font-family: 'Oswald', sans-serif;
  margin-left: 0;
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-size: 17px;
  color:rgb(255, 255, 255);
  align-items: center;
}

#card_content > dd {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color:rgb(255, 255, 255);
  line-height: 1.8;
  margin-left: 0;
}

#card_content > dl:first-of-type {
  margin-top: 0;
}

#card_content > dd:last-of-type {
  margin-bottom: 10px;
}
