body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FBF8E1;
  margin: 0;
  box-sizing: border-box;
}

main {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.description{
  margin-top: 10px;
}

h1 {
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 70px;
  text-align-last: center;
}
.page_name{
  margin-top: 85px;
}
.page_name{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.logo {
  width:150px;
  height: 150px;
  padding: 0px;
}

.intro{
  text-align: center;
  font-family:'Baloo Chettan 2', cursive;
  font-size: 30px;
}

.collage{
  display: flex;
  justify-content: center;
}

.welcome{
  height: auto;
  width: 100%;
  padding: 0; /** reset padding establecido para todas las <img /> **/
}

.info{
  font-family:'Baloo Chettan 2', cursive;
  font-size:25px;
  text-align: center;
  padding-left: 50px;
  width: 90%;
  height: auto;
}
.nav_main {
  width: 100%;
  max-width: 850 px;
  margin: 10px;
}

.nav_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  background-image: url(images/HEADER.webp);
  color: #dbd3d3;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
}

.nav_header a {
  color: #030303;
  text-decoration: none;
  font-style: unset;
  padding: 2rem 0;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.navigation ul li a:hover {
  background-color: #f2f3f2ce;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.menu{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  background-image:url(images/menu.png); 
  margin-top: 30px;
}
.menu select{
  padding-left: 10px;
  height: auto;
  width: 100%;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 20px;
  margin:25px;
  align-content: center;
  background: transparent;
  border-radius: 8px;
}
option:checked{
 background-color: rgb(233, 145, 45);
}

select:hover{
  background-color: rgba(245, 231, 209, 0.432);
  box-shadow: 0px 10px 13px -7px #1b1917, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.button{
  height: auto;
  width: 100%;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 20px;
  margin-top: 30px;
  margin: 20px;
  align-content: center;
  border-radius: 8px;
  background-color: rgba(248, 112, 0, 0.459);
}
#pagination{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 10px;
  height: auto;
  width: 100%;
}

.botoncito button{
  width: 50px;
  height: 25px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #39B5AF;
  border-radius: 8px;
  margin: 5px;
  transition: 0.4s;
  color:black;
  font-size: 15px;
  box-shadow: 0.5px 2px #888888;
  
}

 .botoncito button.active{
   background-color: #EF6B24;
   box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
 }

 .botoncito button:hover {
  background-color: #8de4df;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
 }

 
.allCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.collection {
  width: 300px;
  height: 520px;
  padding: 30px;
  margin: 20px;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
  background-image: url(images/fondoCard.png);
  background-size: 100% 100% ;
  border: 10px solid rgba(255, 255, 255, 0.89);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -3;
  box-shadow: 0px 15px 18px -5px #000000, 10px 20px 20px 10px rgba(0, 0, 0, 0);
}

.dato{
  font-size: 16px;
  padding-bottom: 0px;
  font-family: 'Baloo Chettan 2', cursive;
}
img {
  width: 140px;
  height: 140px;
  padding: 0px 40px 10px; /** Why? **/
}

.name_athlet{
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  font-stretch: semi-expanded;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 3px;
}
.team_athlet{
  font-family:'Pathway Gothic One', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border:rgb(12, 12, 12);
  float:right;
  margin: 8px;

}
.medall{
  font-family:'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin: 8px;
  font-weight:600;
  padding-bottom: 3px;
}
p{
  font-size: 40px;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
  margin-top: 20px;
}
.collage_Alexa{
  height: auto;
  width: 90%;
  margin-top: 30px;
}

@media screen and (min-width: 360px) and (max-width: 1131px) { 
  .menu select{
     font-size: 10px;
  }
  .button{
    font-size: 10px;
   }
  h1 {
    font-size: 30px;
   }
  .logo {
    width:75px;
    height: 75px;
  }
  .nav_header {
    font-size: 11px;

  }
  .intro{
    font-size: 15px;
  }
  .info{
    font-size: 12px;
  }
  .menu select{
    margin:5px;
    margin-top: 30px;
  }
  p {
    font-size: 25px;
  }
}



footer {
  background-image: url(images/menu.png); 
  width: 100%;
  height: 51px;
  margin-top: auto;
}

.footer p {
text-align: center;
font-family: 'Julius Sans One', sans-serif;
font-size: 15px;
}

